.not-found {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/404-notFound.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#notFound-btn{
    width: 200px;
    border: none;
    outline: none;
    background-color: transparent;
}