section {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

.cards {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.image_box img {
    width: 150px;
    height: 150px;
    margin: 0 10px 5px 30px;
}

.image_box img:hover {
    transform: scale(1.1);
    transition: transform 1.25s cubic-bezier(.165, .84, .44, 1);
}
.details p:nth-child(1) {
    font-weight: bold;
}

.details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
}

.details p:nth-child(3),
.details p:nth-child(4) {
    font-weight: bold;
    color: rgb(128, 128, 128);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.details button {
    cursor: pointer;
    padding: 10px 15px;
        border: none;
        outline: none;
        font-weight: bold;
        background-color: lightskyblue;
        border-radius: 100px;
        color: #fff;
        background: #f60;
        border-color: #f60;
        border-style: solid;
        transition: all .1s linear;
}

.details button:active {
    transform: scale(.95);
}
.details button:hover {
    opacity: .50;
    }
    
    .rating {
        width: 20px;
        height: 15px;
        margin-left: 5px;
    }
    
    @media(max-width:800px) {
        section {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;
            overflow-x: hidden;
            text-align: center;
        }
    
        .cards {
            width: 200px;
        }
                .image_box img {
                    width: 100px;
                    height: 100px;
                }
}