article {
    width: 60%;
    margin: auto;
}

.cart_box img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.image:hover {
    transform: scale(1.1);
    transition: transform 1.25s cubic-bezier(.165, .84, .44, 1);
}

.cart_img {
    display: flex;
}

.cart_img p {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

.cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
}

.buttons {
    display: flex;
}
.cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
}

.remove:hover {
    background-color: red;
}

.cart_box div:nth-child(3) button:active {
    transform: scale(0.95);
}
.price {
    font-family: cursive;
    color: floralwhite;
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total{
    font-size: 2rem;
    color: rgb(41, 18, 215);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: cursive;
}
