header {
    max-width: 1550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: var(--white);
    padding: 0 131px;
    font-size: 30px;
    margin: 0 auto;
    box-shadow:
            rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
            rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
            rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
ul{
    display: flex;
    gap: 100px;
    list-style-type: none;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

button{
    width: 100px;
    height: 40px;
    padding: 5px 15px;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
}

button:active{
    transform: scale(.99);
}
.nav-logo,
button {
    cursor: pointer;
}
.nav-logo{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
.logOut {
    width: -moz-fit-content;
    width: fit-content;
}
.search {
    /* width: 50px;
    height: 50px; */
    /* color: black; */
    /* border: 2px solid black; */
    /* background-color: blueviolet; */

}