.div {
    text-align: center;
    border: 3px solid rgb(116, 167, 240);
    border-radius: 8px;
}

.container{
    margin: 25px 0px;
}

@media(max-width:800px) {
    
    .container {
        width: 90%;
        display: flex;
        height: 20px;
        margin: 20px auto;
    }
    
    .input {
        width: 50px;
    }
}
