@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    }
    
:root {
        --green: #3B5D50;
        --yellow: #F9BF29;
        --white: #fff;
        --black: #2f2f2f;
        --gray: #6A6A6A;
        --lime: #35736E1A;
        --color: #35736E4D;
        --font-family: 'Inter', sans-serif;
    
}